@import "../../variables";

.bg-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;

  &__img {
    padding: $basic_spacing * 3;
  }
  
  &__desc {
    font-size: $body;
    color: $secondary;
    font-weight: bold;
  }
}

@media screen and (max-width: 460px) {
  .bg-content {
    margin-top: 9px;
  }
}