@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url('../assets/fonts/Ubuntu-Bold.ttf')
}
