@import "../../variables";

.homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url(../../images/bg.svg) $accent;
  background-size: cover;

  //TODO: adaptive bg image
    .header {
      display: flex;
      flex-direction: column;
      color: $base_weak;
      width: 775px;
      margin: 65px 0 48px;

        &__item {
          font-weight: bold;
          font-size: 102px;
          max-height: 100px;
          &:nth-child(1) {
            align-self: flex-start;
          }
          &:nth-child(2) {
            align-self: flex-end;
          }
        }
    }

    .cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;

      &__item {
        display: flex;
        flex-direction: column;
        background-color: $base_weak;
        height: 524px;
        width: 660px;
        margin: 17px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);

        &__title {
          font-size: $h1;
          color: $base_strong;
          font-weight: bold;
          margin: 50px 58px 16px 58px;
        }
      }

      .weather-cards {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &__container {
          display: flex;
          justify-content: center;
          width: 544px;

          &__weather-card {
            width: 100%
          }
        }

        &__button-arrow {
          width: 60px;
          background-color: transparent;
          cursor: pointer;
          border: none;
          outline: none;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }

      .date-input {
        font-family: Ubuntu;
        font-size: $body;
        font-weight: normal;
        color: $secondary;
        margin: 16px 0 0 40px;
        height: 27px;
        padding: 8px;
        width: 233px;
        border: 2px solid rgba(128, 131, 164, 0.2);
        border-radius: 8px;
        background-color: rgba(128, 131, 164, 0.06);
        outline: none;
        cursor: pointer;
      }

    }
}

@media screen and (max-width: 792px) {
  .homepage {
    @include value-prefix(width, fit-content);
  }
}

@media screen and (max-width: 460px) {
  .homepage {
    .header {
      width: 243px;
      margin: 32px 0 12px;

      &__item {
        font-size: $h1;
      }
    }

    .cards {
      &__item {
        &:nth-child(1) {
          height: 464px;
        }
        height: 576px;
        width: 300px;

        &__title {
          margin: 32px 24px 16px 24px;
        }
      }
      .weather-cards {
        &__container {
          width: 257px;
        }
      }
      .date-input {
        margin: 24px 24px 0 24px;
      }
    }
  }
}
