@import "../../variables";

select {
  font-family: Ubuntu;
  font-size: $body;
  font-weight: normal;
  color: $secondary;
  margin: 2.4% 0 0 8.7%;
  padding: 0.7em;
  width: 100%;
  border: 2px solid rgba(128, 131, 164, 0.2);
  border-radius: 8px;
  background-color: rgba(128, 131, 164, 0.06);
  outline: none;

  option {
    padding: 0.7em;
    background-color: $base_weak;
    border-radius: 8px;
  }
}

@media screen and (min-width: 600px) {
  select {
    width: 38%;
  }
}
