@import "../../variables";

.city-select {
  font-family: Ubuntu;
  font-size: $body;
  font-weight: normal;
  color: $secondary;
  margin: 16px 0 0 58px;
  padding: 0.7em;
  width: 252px;
  border: 2px solid rgba(128, 131, 164, 0.2);
  border-radius: 8px;
  background-color: rgba(128, 131, 164, 0.06);
  outline: none;
  cursor: pointer;

  &__option {
    padding: 0.7em;
    background-color: $base_weak;
    border-radius: 8px;
  }
}

@media screen and (max-width: 460px) {
  .city-select {
    margin: 16px 24px 0 24px;
  }
}