@import "../../variables";

.weather-card {
  display: flex;
  height: 238px;
  background-color: $accent;
  border: 2px solid $accent;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  margin: 5px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
  }

  &__date {
    color: $base_weak;
    font-size: $body;
    font-weight: bold;
  }

  &__icon {
    width: 90px; // this value was choosen because of bad quality of returned icons from the back-end
    align-self: center;
  }

  &__temp {
    color: $base_weak;
    font-size: $h1;
    font-weight: bold;
    align-self: flex-end;
  }
}
